{% extends "./base.html" %}
{% load static %}

{% block title %}KERAS: Breast Cancer Prediction{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static '../static/index.css' %}">
    <style>
        
        body {
            padding: 25px;
            background-image: url(../static/images/breast-cancer-awareness-ribbon-backgroundjpg.jpg);
            background-color: rgb(2, 184, 184);
            background-size: cover; 
        }
    </style>
{% endblock %}

{% block content %}

    <form class="form" action="{% url 'deployment:predict' %}" method="post">
        {% csrf_token %}
        <div class="form__title">Breast Cancer Prediction</div>
        <p class="form__desc">This product gives a prediction/diagnosis if a lump is cancerous or not 
        based on different features including mean radius, e.t.c</p>

        <div class="form__item">
            <label for="mean_radius" class="form__label">Mean Radius</label>
            <input type="text" class="form__input" name="mean_radius" id="mean_radius" required
            placeholder="Enter Mean Radius">
        </div>

        <div class="form__item">
            <label for="mean_texture" class="form__label">Mean Texture</label>
            <input type="text" class="form__input" name="mean_texture" id="mean_texture" required
            placeholder="Enter Mean Texture">
        </div>

        <div class="form__item">
            <label for="mean_perimeter" class="form__label">Mean Perimeter</label>
            <input type="text" class="form__input" name="mean_perimeter" id="mean_perimeter" required
            placeholder="Enter Mean Perimeter">
        </div>

        <div class="form__item">
            <label for="mean_area" class="form__label">Mean Area</label>
            <input type="text" class="form__input" name="mean_area" id="mean_area" required
            placeholder="Enter Mean Area">
        </div>

        <div class="form__item">
            <label for="mean_smoothness" class="form__label">Mean Smoothness</label>
            <input type="text" class="form__input" name="mean_smoothness" id="mean_smoothness"  required
            placeholder="Enter Mean Smoothness">
        </div>

        <div class="form__item btn">
            <!-- <button class="form__btn" type="submit">Diagnose</button> -->
            <input type="submit" value="Diagnose" class="btn">
        </div>
    </form>

{% endblock %}
