{% extends "./base.html" %}
{% load static %}

{% block title %}KERAS: Diagnosis Result{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static '../static/index.css' %}">
<style>
    body {
        padding: 25px;
        background-image: url(../static/images/index.jpg);
        background-color: rgb(2, 184, 184);
        background-size: cover;
    }
</style>
{% endblock %}


{% block content %}
<div class="" >
    <p class="predict__title" >Prediction Results</p>
    <p class="predict__desc" style="color: green;">Here are the results of your prediction:</p>
    <p class="predict__desc">{{ prediction }}</p>
</div>
{% endblock %}